
menu "Crazyradio 2.0 firmware"

config ESB_PACKET_LOSS_PERCENT
   int "Percent of generated packet loss, between 0 and 100"
   range 0 100
   default 0

config ESB_ACK_LOSS_PERCENT
   int "Percent of generated ack loss, between 0 and 100"
   range 0 100
   default 0

config TARGET_UF2_BOOTLOADER
   bool "Build U2F file and set proper linker setting to work with the UF2 bootloader"
   default false
   select BUILD_OUTPUT_UF2

config FLASH_LOAD_OFFSET
   default 0x27000 if TARGET_UF2_BOOTLOADER && SOC_NRF52833_QIAA
   default 0x26000 if TARGET_UF2_BOOTLOADER && SOC_NRF52840_QIAA

config USE_DCDC
   bool
   depends on SOC_DCDC_NRF52X

config LEGACY_USB_PROTOCOL
   bool "Use legacy, Crazyradio (PA), USB protocol"
   default n

config USB_DEVICE_VID
   default 0x1915 if LEGACY_USB_PROTOCOL
   default 0x35F0 if !LEGACY_USB_PROTOCOL

config USB_DEVICE_PID
   default 0x7777 if LEGACY_USB_PROTOCOL
   default 0xad20 if !LEGACU_USB_PROTOCOL

config CBOR_API_NOTIFY_TEST
   bool "Enable test notification message. Useful to develop CBOR API."
   default n

endmenu

source "Kconfig.zephyr"
