/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 Nordic Semiconductor ASA
 * Copyright (c) 2023 Bitcraze AB
 */


 / {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>;
	};

	aliases {
		// io1 = &io1;
		io2 = &io2;
		io3 = &io3;
	};

	ios {
		compatible = "gpio-leds";
		// io1: io_1 {
		// 	gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		// 	label = "IO1";
		// };
		io2: io_2 {
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			label = "IO2";
		};
		io3: io_3 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "IO3";
		};
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,resolution = <14>;
		zephyr,oversampling = <8>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;  // P0.04
		zephyr,resolution = <14>;
		zephyr,oversampling = <8>;
	};
};
